<section class="space-top space-extra-bottom">
  <div class="container">
    <div class="row gx-70 justify-content-center justify-content-xl-start">
      <div class="text-center text-xl-start col-lg-9 col-xl-8 col-xxl-9">
        <div class="title-area">
          <span class="sec-subtitle">part of the family since 2001,</span>
          <h2 class="sec-title">Your Child Will Take The Lead In Their Learning</h2>
        </div>
      </div>
      <div class="col-lg-8 col-xl-6 col-xxl-auto mb-md-3 mb-xl-0">
        <div class="img-box5">
          <svg class="svg-hidden">
            <clipPath id="ab-shape1" clipPathUnits="objectBoundingBox">
              <path
                d="M0.464,0.006 C0.488,0,0.513,0,0.536,0.006 L0.7,0.046 C0.723,0.052,0.745,0.063,0.764,0.08 L0.89,0.192 C0.908,0.208,0.922,0.229,0.931,0.252 L0.99,0.41 C0.999,0.433,1,0.458,0.999,0.482 L0.979,0.65 C0.976,0.674,0.967,0.698,0.953,0.718 L0.858,0.857 C0.844,0.877,0.825,0.894,0.803,0.905 L0.655,0.984 C0.633,0.995,0.609,1,0.584,1 H0.416 C0.392,1,0.368,0.995,0.346,0.984 L0.197,0.905 C0.175,0.894,0.157,0.877,0.143,0.857 L0.047,0.718 C0.033,0.698,0.025,0.674,0.022,0.65 L0.001,0.482 C-0.002,0.458,0.001,0.433,0.01,0.41 L0.07,0.252 C0.078,0.229,0.092,0.208,0.111,0.192 L0.237,0.08 C0.255,0.063,0.277,0.052,0.301,0.046 L0.464,0.006"
              ></path>
            </clipPath>
          </svg>
          <div class="img-1 mega-hover">
            <img src="assets/img/about/ab-4-1.jpg" alt="about" />
          </div>
          <div class="exp-pill">
            <p class="exp-number">100%</p>
            <p class="exp-text">A+ Results</p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-xxl-6 text-center text-xl-start">
        <p class="fs-md pe-xxl-4 me-xxl-4 mb-4 pb-1 mt-n2">
          We are constantly expanding the range of services offered, taking care of children of all
          ages. Our goal is to carefully educate and develop children in a fun way. We strive to
          turn the learning process into a bright.
        </p>
        <span class="sec-subtitle2">Sessions: Monday – Friday</span>
        <div class="title-divider1"></div>
        <div class="row gx-50 mb-xl-4 pb-3 justify-content-center justify-content-xl-start">
          <div class="col-auto">
            <div class="info-style1">
              <p class="info-title">Morning:</p>
              <p class="info-text">9am – 12noon</p>
            </div>
          </div>
          <div class="col-auto">
            <div class="info-style1">
              <p class="info-title">Lunch:</p>
              <p class="info-text">12noon – 1pm</p>
            </div>
          </div>
          <div class="col-auto">
            <div class="info-style1">
              <p class="info-title">Afternoon:</p>
              <p class="info-text">1pm – 3.30pm</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="feature-style1">
              <div class="feature-icon">
                <img src="assets/img/icon/ab-4-1.svg" alt="icon" />
              </div>
              <h3 class="feature-title h5">Personalized learning</h3>
              <p class="feature-text">
                Our goal is to carefully educate and develop children in a fun way. We strive
                learning process into a bright.
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="feature-style1">
              <div class="feature-icon">
                <img src="assets/img/icon/ab-4-2.svg" alt="icon" />
              </div>
              <h3 class="feature-title h5">empower teachers</h3>
              <p class="feature-text">
                Our goal is to carefully educate and develop children in a fun way. We strive
                learning process into a bright.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
